@charset "utf-8";

.title {
    height: calc(100vh - 110px);
    background-image: url(../images/car/2024-05-04_15-27-27_605.png);
    background-image: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 1px 1px 10px #4b2c14;
}

.title h1 {
    font-size: 60px;
}

.title p {
    font-size: 50px;
}
